/* Body css */
body 
{
font-family: 'Arial', 'Helvetica Neue' , 'sans-serif';
color: '#777';
background: #777;
width: '960px';
font-size: '18px';  
}

/* Header */

header
{
    margin-right: 20%;
    margin-left: 15%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding:20px;
    text-align: center ;
    background: #ebebeb;
    height: 50px;
}

/* Header, Nav, Section, Aside, Footer css */


 Nav
 {
   margin-left: 15%;
   margin-top: 10px;
    margin-bottom: 20px;
    padding:20px;
    text-align: center ;
    background: #ebebeb;
    height: 50px;
    margin-right: 20%;
}
 

  aside
  {
    width: 495px;
    float: left;
    margin-top: 10px;
    margin-bottom: 20px;
    padding:20px;
    text-align: center ;
    background: #ebebeb;
    height: 245px;

  }
 Section
  {
    background: #ebebeb;
    width: 495px;
    float: left;
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding:20px;
    text-align: center ;
    background: #ebebeb;
    height: 25%;
    padding: 10px;
  }

/* Article css */

article
{
    color: #ebebeb;
    background: #777;
    height: 75%;
    margin-top: 40px;
    padding: 10px;
}

/* h1, p css */

 p
{
    color: #777;
    background: #ebebeb;
    height: 50px;
    margin-right: 5%;
    margin-left: 5%;
    padding: 5px;
}


ul
{
list-style-type: none;
margin: 0;
padding: 0;
}

li
{
display: inline;
}

 footer
  {
    margin-left: 15%;
    margin-top: 18%;
     margin-bottom: 20px;
     padding:20px;
     background: #ebebeb;
     height: 50px;
     margin-right: 20%;
   
}